#update{
    display: none;
}

#listItem {
    list-style: none;
    margin: 0;
    padding: 0;
}
#listItem li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding:10px 5px;
}
#listItem li:last-child{
    border-bottom: 0;
}